@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: #c8c8c8;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game {
	width: 90vw;
	max-width: 400px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.bolinhas {
	text-align: center;
}

.button {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 20px;
	display: inline-block;
}

.menuzin {
	width: 60%;
	max-width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-top: 2rem;
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

#score {
	margin-top: 50px;
}

#start,
#mute {
	margin-top: 20px;
	background-color: gray;
	color: white;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

#start:hover,
#mute:hover {
	background-color: rgb(59, 59, 59);
}